*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-inner img {
    width: 100%;
    height: 90vh;
  }
  .image1_index{
      width: 100%;
      height: 350px!important;
  }
  .row{
   margin-bottom: 15px; 
  }
  #text {
color: aliceblue;
  }
  
  #upper_centered {
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
  #center {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
  #contactus{
    width: 100%;
    height: 50vh;
  }
  #contactus {
    opacity: 0.75;
  }